<div class="hold-transition login-page">
  <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-green">
        <div class="card-header text-center">
          <a href="/" class="h1"
            ><b style="color: green">E</b
            ><span style="color: #f38737">-PERMUTATION</span></a
          >
        </div>
        <div class="card-body">
          <p class="login-box-msg">Connectez-vous à votre espace</p>
          <p class="login-box-msg" style="color:#dc3545;">{{message}}</p>
             <p class="login-box-msg" style="color:#28a745;">{{loginSucces}}</p>
        
          <form action="/connexion" method="post">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="username"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Mots de Passe"
                name="password"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" />
                  <label for="remember"> Se Souvenir de Moi </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-5">
                <button type="submit" class="btn bg-orange btn-block">
                  <span style="color: white">Connexion</span>
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <p class="mb-1">
            <a href="./reinitialisation-mdp.php" style="color: orange"
              >Mot de Passe Oublié</a
            >
          </p>
          <p class="mb-0">
            <a
              href="/inscription"
              class="text-center"
              style="color: green"
              >Créer un Compte</a
            >
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
</div>
</div>

