 {{> header user=agent}}  
   <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Contactez-nous</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="#" style="color: orange">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Contacts</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container">
            <!-- Main content -->
            <section class="content">
              <!-- Default box -->
              <div class="card">
                <div class="card-body row">
                  <div
                    class="
                      col-5
                      text-center
                      d-flex
                      align-items-center
                      justify-content-center
                    "
                  >
                    <div class="">
                      <img
                        src="../../dist/img/uvci-img/logo-circle.jpg"
                        alt="Logo"
                      />
                      <h2>
                        <strong
                          ><span style="color: green">E-</span
                          ><span style="color: #f38737"
                            >Permutation</span
                          ></strong
                        >
                      </h2>
                      <p class="lead mb-5">
                        2 Plateaux, Tribunal du Commerce<br />
                        Contact: +225 08-567-890-12
                      </p>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="form-group">
                      <label for="inputName">Nom</label>
                      <input type="text" id="inputName" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="inputEmail">E-Mail</label>
                      <input
                        type="email"
                        id="inputEmail"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="inputSubject">Sujet</label>
                      <input
                        type="text"
                        id="inputSubject"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="inputMessage">Message</label>
                      <textarea
                        id="inputMessage"
                        class="form-control"
                        rows="4"
                      ></textarea>
                    </div>
                    <div
                      class="form-group"
                      style="display: flex; justify-content: flex-end"
                    >
                      <button type="submit" class="btn bg-orange btn-block">
                        <span style="color: white">Connexion</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- /.content -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

 {{> footer}}  